@import url("https://fonts.googleapis.com/css?family=Roboto|Shrikhand&display=swap");
*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: linear-gradient(219deg, rgba(246, 246, 246, 0.02) 0%, rgba(246, 246, 246, 0.02) 20%, rgba(225, 225, 225, 0.02) 20%, rgba(225, 225, 225, 0.02) 40%, rgba(136, 136, 136, 0.02) 40%, rgba(136, 136, 136, 0.02) 60%, rgba(216, 216, 216, 0.02) 60%, rgba(216, 216, 216, 0.02) 80%, rgba(35, 35, 35, 0.02) 80%, rgba(35, 35, 35, 0.02) 100%), linear-gradient(299deg, rgba(213, 213, 213, 0.02) 0%, rgba(213, 213, 213, 0.02) 20%, rgba(150, 150, 150, 0.02) 20%, rgba(150, 150, 150, 0.02) 40%, rgba(161, 161, 161, 0.02) 40%, rgba(161, 161, 161, 0.02) 60%, rgba(186, 186, 186, 0.02) 60%, rgba(186, 186, 186, 0.02) 80%, rgba(28, 28, 28, 0.02) 80%, rgba(28, 28, 28, 0.02) 100%), linear-gradient(50deg, rgba(157, 157, 157, 0.02) 0%, rgba(157, 157, 157, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%), linear-gradient(278deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 20%, rgba(217, 217, 217, 0.03) 20%, rgba(217, 217, 217, 0.03) 40%, rgba(5, 5, 5, 0.03) 40%, rgba(5, 5, 5, 0.03) 60%, rgba(200, 200, 200, 0.03) 60%, rgba(200, 200, 200, 0.03) 80%, rgba(125, 125, 125, 0.03) 80%, rgba(125, 125, 125, 0.03) 100%), linear-gradient(274deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 25%, rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 50%, rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 75%, rgba(30, 30, 30, 0.03) 75%, rgba(30, 30, 30, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(90deg, #242424, #242424);
  background-attachment: fixed;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

header {
  top: 0;
  right: 0;
  position: fixed;
  width: 25%;
  height: 100vh;
  padding: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#43c9ce), to(#1c42aa));
  background: linear-gradient(to bottom, #43c9ce, #1c42aa);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #15317e;
}

header h2 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

header img,
header h2,
header h3 {
  margin-bottom: 3rem;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.projects .project {
  position: relative;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  width: 30%;
  padding: 0;
  color: #fff;
  background: #000;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
}

.projects .project img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects .project h3 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0.75rem 0;
}

.projects .project .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 1rem;
}

.projects .project .links a {
  color: white;
  font-size: 1.125rem;
  padding: 8px 16px;
  border-radius: 4rem;
  margin-bottom: 0.5rem;
  border: none;
  text-align: center;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#1c42aa), to(#43c9ce));
  background: linear-gradient(to top left, #1c42aa, #43c9ce);
}

.projects .project .links a:hover, .projects .project .links a:focus, .projects .project .links a:active {
  background: -webkit-gradient(linear, right bottom, left top, from(#15317e), to(#2eabb0));
  background: linear-gradient(to top left, #15317e, #2eabb0);
}

.projects .project:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c42aa), color-stop(#43c9ce), to(#1c42aa));
  background: linear-gradient(to bottom, #1c42aa, #43c9ce, #1c42aa);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact a {
  color: white;
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  /* width: 6vw;
    height: 6vw; */
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.contact a:hover {
  border: 2px solid #15317e;
  color: #15317e;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 800px) {
  body {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 20% auto;
        grid-template-rows: 20% auto;
  }
  header {
    height: auto;
    position: static;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: 25% 20% 55%;
        grid-template-rows: 25% 20% 55%;
  }
  header img {
    width: 50%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
    border-width: 2px;
  }
  header h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.8rem;
  }
  header h3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.5rem;
  }
  header .contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    font-size: 1rem !important;
  }
  header .contact a {
    margin-right: 1rem;
    padding: 0.33333rem;
    font-size: 1rem;
  }
  main {
    position: static;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .project {
    width: 45% !important;
  }
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project {
    width: 100% !important;
  }
  .projects .project h3 {
    font-size: 1.5rem;
  }
  .projects .project .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project .links a {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=index.css.map */