.bento {
  width: 100%;
  display: grid;
  grid-template-rows: auto;

  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "ms ms"
    "re re"
    "fo fo"
    "ds ds"
    "vc an"
    "he he"
    "mt mt";
}

@media (min-width: 768px) {
  .bento {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "ms ms ms ms ms ms ms ms ms ms"
      "ms ms ms ms ms ms ms ms ms ms"
      "ms ms ms ms ms ms ms ms ms ms"
      "re re re re re fo fo fo fo fo"
      "re re re re re fo fo fo fo fo"
      "ds ds ds ds ds vc vc vc vc vc"
      "ds ds ds ds ds vc vc vc vc vc"
      "an an an an he he he he he he"
      "an an an an mt mt mt mt mt mt";
  }
}

@media (min-width: 1024px) {
  .bento {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "ms ms ms ms ms ms ms re re re re re"
      "ms ms ms ms ms ms ms re re re re re"
      "ms ms ms ms ms ms ms re re re re re"
      "ms ms ms ms ms ms ms re re re re re"
      "fo fo fo fo fo an an an vc vc vc vc"
      "fo fo fo fo fo an an an vc vc vc vc"
      "fo fo fo fo fo an an an vc vc vc vc"
      "ds ds ds ds ds an an an he he he he"
      "ds ds ds ds ds mt mt mt mt mt mt su"
      "ds ds ds ds ds mt mt mt mt mt mt su";
  }
}

.the-main-stack {
  grid-area: ms;
}

.the-foundations {
  grid-area: fo;
}

.react-ecosystem {
  grid-area: re;
}

.animations {
  grid-area: an;
}

.version-control {
  grid-area: vc;
}

.design-and-styling {
  grid-area: ds;
}

.more-technologies {
  grid-area: mt;
}

.helper {
  grid-area: he;
}

.suspense {
  grid-area: su;
}
