---
---
<div class="flex p-4 justify-center bg-background-2 dark:bg-background-1">
  <p class="text-background-12">
    Echa un vistazo a mi{" "}
    <a
      href="https://github.com/jeantivan"
      class="text-primary-11 no-underline hover:underline underline-offset-2"
    >
      perfil de Github!
    </a>
  </p>
</div>