---
import BaseLayout from "@/layouts/BaseLayout.astro";

import * as m from "../../paraglide/messages.js";
---
<BaseLayout title="Sobre mi" description="Portafolío personal de un developer en Madrid!">
<h1>{m.hello({name: "Jean"})}</h1>
</BaseLayout>